{
  "env": {
    "browser": true,
    "jest": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "check-file"],
  "rules": {
    "no-console": 0,
    "eqeqeq": "error",
    "max-depth": ["error", 4],
    "max-lines": ["error", 300],
    "new-cap": "error",
    "no-else-return": "error",
    "no-nested-ternary": "error",
    "no-new-wrappers": "error",
    "no-unneeded-ternary": "error",
    "no-var": "error",
    "prefer-const": "error",
    "prefer-destructuring": "error",
    "require-await": "error",
    "max-lines-per-function": ["error", { "max": 50 }],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "function",
        "format": ["camelCase"]
      },
      {
        "selector": "variable",
        "format": ["camelCase", "UPPER_CASE"]
      },
      {
        "selector": "class",
        "format": ["PascalCase"]
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "check-file/filename-naming-convention": [
      "error",
      {
        "**/*/!(index).{jsx,tsx}": "CAMEL_CASE",
        "**/*/!(Vts|([^']+.(d|test))).{js,ts}": "CAMEL_CASE"
      }
    ],
    "check-file/folder-naming-convention": [
      "error",
      {
        "src/**/": "FLAT_CASE",
        "mocks/*/": "FLAT_CASE"
      }
    ],
    "quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
    "no-param-reassign": ["error", { "props": false }]
  },

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.test.jsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
