
# Development and build files
node_modules/
npm-debug.log*
build/
tests/
tsconfig.json
tsconfig.build.json
webpack.config.js
webpack.config.prod.js
.babelrc

# Version control files
.git/
.gitignore

# Documentation and example files
examples/
README.md
CHANGELOG.md

# Editor and IDE files
.vscode/
.idea/

# Miscellaneous
*.log
*.bak
*.tmp